* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Starborn, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.75);
    border-radius: 8px;
    border: 1.5px solid rgba(255, 138, 177, 1);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    box-shadow: inset 0 -2px #597077;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}



#workspaces {
	margin: 5px;
	background-color: rgb(65,69,85);
	border: 2px solid rgba(25,25,25,0.1);
	border-radius: 4px;
	margin-left: 0rem
}

#custom-separator {
  color: #fc94d8;
  margin: 0 5px;
}

.modules-left {
	margin: 5px;
	background-color: rgb(65, 69, 85);
	border: 2px solid rgba(25,25,25,0.1);
	border-radius: 4px;
	padding: 6px 6px;
}

.modules-right {
  background-color: rgba(65, 69, 85, 1); /* Example: a specific background color for the module containers */
  margin: 5px;
  border: 2px solid rgba(25, 25, 25, 0.1);
  border-radius: 4px;
  padding: 6px 6px; /* Adjust padding as needed */
}



tooltip {
  background-color: #1a1b26;
  color: #dddddd;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}
