* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    font-weight: 600;
}

window#waybar {
    background-color: rgba(30, 30, 30, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#pulseaudio {
	color: #f7c274;
}

#network {
	
	color: #57ed57

	}

#cpu {

	color: #ba74f7
}

workspaces {

	font-size: 20px;
}

#workspaces button {
  min-width: 0;
  min-height: 0;
  font-size: 20px;
  margin-left: 0;
  margin-right: 4;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #c37bf7;
}


#workspaces button.urgent {
  background-color: #d4ef37;
}

#clock {

	color: #74e3f7

}

#memory {

	color: #ae49ed
}

#custom-separator {
  color: #fc94d8;
}
